.landing-page-body-container{
    display: flex;
    margin: 1rem 1rem 1rem 0rem;
}


.duck-list-content-type{
   width: 8rem;
   padding-right: 2rem;
   padding-left: 1rem;

}

.duck-list-content-type-items{
    display: flex;
}

.landing-page-body-links{
    text-decoration: none;
}
.duck-link-avatar-polygon-type{
    margin-right: 1rem;
}
.duck-link-avatar-polygon-type a {
    color: var(--primary-color);
}

.landing-page-media-container{
    width: 100%;
    margin-top: 1rem;
}