.category-container{ 
    display: flex;
    justify-content: center;

}

.category-box {
   background-color: var(--secondary-color);
   border-radius: .25rem;
   padding: .5rem 1rem;
   margin:  2rem 2rem 2rem 2rem;
   width: fit-content;
   font-size: large;
   font-weight: bold;
   cursor: pointer;
   display: inline;

}
.category-box:hover{
   box-shadow: 1px 1px 1px 1px var(--primary-color);
}

.landing-page-body-container{
    display: flex;
    margin: 1rem 1rem 1rem 0rem;
}


.duck-list-content-type{
   width: 8rem;
   padding-right: 2rem;
   padding-left: 1rem;

}

.duck-list-content-type-items{
    display: flex;
}

.landing-page-body-links{
    text-decoration: none;
}
.duck-link-avatar-polygon-type{
    margin-right: 1rem;
}
.duck-link-avatar-polygon-type a {
    color: var(--primary-color);
}

.landing-page-media-container{
    width: 100%;
    margin-top: 1rem;
}