.login-page-body-content{
    display: flex;
    justify-content: center;
}

.login-inputs-btn-link-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    width: 20rem;
    box-shadow: 0rem .01rem .15rem .1rem var(--primary-color);
    border-radius: 1rem;
}
.login-page-body-content input:focus{
    outline: none;
    border: .1rem solid var(--primary-color);
}
.login-page-body-content input{
    outline: none;
    border: .1rem solid var(--primary-color);
    margin-bottom: 1rem;
    border-radius: .25rem;
    padding-left:  1.5rem;
}
.login-page-body-content div{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-bottom: .5rem;

}