.login-page-body-content{
    margin: 4rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page-body-content input{
    margin: 0 0 2rem 0;
    min-width: 25rem;
    
}
.login-page-body-content input:focus{
    outline: none;
    border: .1rem solid var(--primary-color);
}

.login-page-body-content div{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-bottom: .5rem;

}