.playlist-body{
    width: 90%;
    margin: 0 5%;
}
.playlist-heading-clear-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-clear-btn{
    width: 10rem;
    background-color: red;  
    color: white;
}
.playlist-body-content{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-body-content-playlist-name{
    margin-bottom: 0;
}
.playlist-body-content-playlist-count{
    margin-top: 0;
}
.playlist-delete-icon{
    cursor: pointer;
}