.video-card-container {
  width: 300px;
  position: relative;
}
.video-card-media {
  width: 100%;
}

.video-card-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.video-card-title {
  margin: 0.25rem 0 0 0.25rem;
}
.video-card-sub-title {
  margin: 0 0 0.25rem 0.25rem;
}
.video-card-like-icon {
  position: absolute;
  font-size: larger;
  color: var(--secondary-color);
  top: 0.7rem;
  right: 1rem;
  cursor: pointer;
}
.video-card-like-icon:hover {
  color: white;
}
