.note-taking-input-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.textarea-container{
    width: 50%;
}

.note-taking-input{
    width:100%;
    height: fit-content;
    padding: 1rem;
    outline: none;
}
.note-taking-input:focus{
    box-shadow: .125rem .1rem .1rem 0rem var(--primary-color);
}
.note-taking-body-btn{
    padding: .5rem 1.5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    margin: 1rem 0 .75rem 0;
}
.note-taking-body-btn:hover{
    background-color: black;
    color: white;
}