.avatar-textarea-container{
    display: flex;
    min-height: 10rem;
    min-width: 20rem;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
}
.textarea{
    min-width: 18rem;
    margin: 2rem 0 0 1rem;
    border: none;
    outline: none;
    font-size: large;
}

.bottom-container{
    display: flex;
    justify-content: flex-end;
    min-width: 20rem;
    border: 1px solid var(--secondary-color);

}
.duck-primary-btn-s{
    border-radius: 2rem;
    width: 5rem;
    margin: .5rem 1rem;
    background-color: #1D9BF0;
    color: white;
    border: none;

}
.duck-primary-btn-s:hover{
    background-color: #1D9BF0;
    color: white;
}